<h1 class="title">Sobre mí</h1>

<section>
<p>Incorporé los fundamentos de programación en la "Tecnicatura Universitaria en Programación" (U.T.N). Comenzando con C, desde C++ hasta C#.</p>
<p>Si bien no terminé la universidad, sé que aprendí mucho y me ayudó a estudiar de manera autodidacta diferentes tecnologías.</p>
<p>Siempre me gustó jugar videojuegos con amigos pero a veces teníamos problemas de internet o simplemente una PC vieja.
    A ésto se le sumaron mis bases en programación y ahí fue cuando despertó mi curiosidad en cómo se crean los videojuegos, 
    con el sueño de poder desarrollar uno y compartirselo a mis amigos.
    Años atrás había usado herramientas como 'Construct' o 'GameMaker', pero quería dar el siguiente paso. 
    Ahí fue cuando me encontré con Unity, un motor de videojuegos con el que me siento muy cómodo.
    Con él fui estudiando de a poco C#, con muchos tutoriales en youtube, algo tan simple como mover un cubo.
    Aprendí tanto que, a tal punto, me facilitó en la universidad cuando me tocó estudiar C#.
</p>
<p>Así fue cómo terminé de aficionado al desarrollo de videojuegos en Unity, esperando un día poder crear algo que mucha gente disfrute.</p>
<p>En cuanto al desarrollo web sigo aprendiendo diferentes tecnologías de forma autodidacta, como con Unity.</p>
<p>Y por último, y no menos importante, me gusta cocinar cosas dulces 😋. Receta que busco, receta que aprendo.</p>
</section>