<h1 class="title">Proyectos</h1>
<p>Algunas cosas que hice 😌</p>

<div class="project-cards-container">
    <div class="project-card">
        <img src="/public/projects/flora-y-las-semillas-del-ceibo.jpeg" alt="Flora y las semillas del ceibo">
        <div class="project-card-title">Flora y las semillas del ceibo</div>
        <p>Videojuego 3D de puzzles y aventura.</p>
        <p>Flora se embarca en una aventura inesperada marcada por fenómenos climáticos adversos y seres mitológicos.</p>
        <div class="project-card-tecnologies">
            <div>Unity</div><div>C#</div>
        </div>
        <div class="project-card-links">
            <a href="https://kribamita.wixsite.com/flora-videojuego/" target="_blank">
                <img src="/public/icons/link.svg" alt="link">
            </a>
        </div>
    </div>

    <div class="project-card">
        <img src="/public/projects/mundo-fungi.png" alt="Mundo fungi">
        <div class="project-card-title">Mundo fungi</div>
        <p>Videojuego 2D de plataformas.</p>
        <p>Ruperto es un sapo que está volviendo a su hogar luego de un largo viaje. 
            Su madre, Rufina, le pide que [...]</p>
        <div class="project-card-tecnologies">
            <div>Unity</div><div>C#</div>
        </div>
        <div class="project-card-links">
            <a href="https://mutantenemy.itch.io/mundo-fungi" target="_blank">
                <img src="/public/icons/link.svg" alt="link">
            </a>
        </div>
    </div>

    <div class="project-card">
        <img src="/public/projects/notes-app.PNG" alt="Notes app">
        <div class="project-card-title">Notes app</div>
        <p>Aplicación donde podes crear, editar y eliminar notas. Se almacenan en el navegador.</p>
        <div class="project-card-tecnologies">
            <div>HTML</div><div>CSS</div><div>JavaScript</div>
        </div>
        <div class="project-card-links">
            <a href="https://github.com/humodevelop/noteapp">
                <img src="/public/icons/github.svg" alt="Github">
            </a>
            <a href="https://humodevelop.github.io/apps/notes/app.html" target="_blank">
                <img src="/public/icons/link.svg" alt="link">
            </a>
        </div>
    </div>

    <div class="project-card">
        <img src="/public/projects/memotest-game.PNG" alt="Memotest game">
        <div class="project-card-title">Memotest game</div>
        <p>Juego de memoria donde tendrás que encontrar pares de distintas tarjetas recordando su posición.</p>
        <div class="project-card-tecnologies">
            <div>HTML</div><div>CSS</div><div>JavaScript</div>
        </div>
        <div class="project-card-links">
            <a href="https://github.com/humodevelop/memotest">
                <img src="/public/icons/github.svg" alt="Github">
            </a>
            <a href="https://humodevelop.github.io/apps/memotest/index.html" target="_blank">
                <img src="/public/icons/link.svg" alt="link">
            </a>
        </div>
    </div>
</div>

<p>Pronto más proyectos 💪</p>
