<h1>Proyectos</h1>
<p>Proyectos en los que trabajé y estoy trabajando</p>
<div>
    <div>
        <a href="https://humodevelop.github.io/apps/notes/app.html" target="_blank">Notes app</a>
        <div>HTML, CSS, JavaScript</div>
        <p>Aplicación donde podes crear, editar y eliminar notas. Se almacenan en el navegador.</p>
    </div>
    <div>
        <a href="https://humodevelop.github.io/apps/memotest/index.html" target="_blank">Memotest game</a>
        <div>HTML, CSS, JavaScript</div>
        <p>Juego de memoria donde tendrás que encontrar pares de distintas tarjetas recordando su posición.</p>
    </div>
    <div>
        <a href="https://kribamita.wixsite.com/flora-videojuego/" target="_blank">Flora y las semillas del ceibo</a>
        <div>Unity</div>
        <p>Videojuego 3D. Flora se embarca en una aventura inesperada marcada por fenómenos climáticos adversos y seres mitológicos.</p>
    </div>
</div>
