<h1>Tectnologías manejadas</h1>
<p>Actualmente estoy relacionado con las siguientes tecnologías</p>
<div class="icon-container">
    <div class="icon">
        <img src="../public/icons/html.png" alt="HTML logo">
        <div class="icon-description">HTML</div>
    </div>
    <div class="icon">
        <img src="../public/icons/css.png" alt="CSS logo">
        <div class="icon-description">CSS</div>
    </div>
    <div class="icon">
        <img src="../public/icons/javascript.png" alt="JavaScript logo">
        <div class="icon-description">JavaScript</div>
    </div>
    <div class="icon">
        <img src="../public/icons/php.png" alt="PHP logo">
        <div class="icon-description">PHP</div>
    </div>
    <div class="icon">
        <img src="../public/icons/mysql.png" alt="MySQL logo">
        <div class="icon-description">MySQL</div>
    </div>
    <div class="icon">
        <img src="../public/icons/c-sharp.png" alt="C-sharp logo">
        <div class="icon-description">C#</div>
    </div>
    <div class="icon">
        <img src="../public/icons/unity.png" alt="Unity logo">
        <div class="icon-description">Unity</div>
    </div>
</div>