<h1 class="title">Tecnologías</h1>

<div class="icon-container">
    <div class="icon">
        <img src="../public/icons/html.svg" alt="HTML logo">
        <div class="icon-description">HTML</div>
    </div>
    <div class="icon">
        <img src="../public/icons/css.svg" alt="CSS logo">
        <div class="icon-description">CSS</div>
    </div>
    <div class="icon">
        <img src="../public/icons/javascript.svg" alt="JavaScript logo">
        <div class="icon-description">JavaScript</div>
    </div>
    <div class="icon">
        <img src="../public/icons/php.svg" alt="PHP logo">
        <div class="icon-description">PHP</div>
    </div>
    <div class="icon">
        <img src="../public/icons/mysql.svg" alt="MySQL logo">
        <div class="icon-description">MySQL</div>
    </div>
    <div class="icon">
        <img src="../public/icons/csharp.svg" alt="C-sharp logo">
        <div class="icon-description">C#</div>
    </div>
    <div class="icon">
        <img src="../public/icons/unity.svg" alt="Unity logo">
        <div class="icon-description">Unity</div>
    </div>
</div>