:root{
    --main: rgb(98, 84, 190);
    --dark: rgb(15,15,15);
    --dark2: rgb(40,40,40);
    --light: rgb(230, 230, 230);
    --background: linear-gradient(115deg, rgba(15,15,15) 0%, rgba(35,35,35) 75%, rgb(40, 40, 40) 100%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color: rgb(15,15,15);
    color: var(--main);
    padding: 10px 10px;
    text-align: center;
}

a{
    color: var(--main);
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: var(--light);
    text-align:center;
    height: 100%;
}

#root section{
    width: 80%;
    text-align: center;
}

#root section p{
    padding-top: 4px;
}

.about{
    width: 65%;
    text-align: justify;
}

.title{
    text-align: center;
    color: var(--main);
    font-size: 2.8rem;
    text-shadow: var(--dark) 2px 2px;
    animation: title .5s ease-out;
    animation-fill-mode: forwards;
    margin-bottom: 10px;
}

.menu{
    background-color: var(--dark);
    width: 100%;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-item{
    list-style: none;
    text-align: center;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 5px 10px 5px;
}

.menu-item a:hover{
    background-color: var(--main);
    color: var(--light); 
}

/* TARJETAS DE PROYECTOS */

.project-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1rem;
    padding-top: 10px;
    overflow: auto;
}

.project-card{
    width: 240px;
    height: 420px;
    border: var(--main) dashed 2px;
    border-radius: 4px;
    background-color: var(--dark2);
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-card-description{
    padding-left: 4px;
    padding-right: 4px;
}

.project-card-image{
    max-width: 100%;
}

.project-card-title{
    color: var(--main);
    font-size: 1.1rem;
    background-color: var(--dark);
    padding: 2px;
}

.project-card-tecnologies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 4px 4px;
    color: var(--main);
    font-weight: bold;
}

.project-card-tecnologies div{
    border: var(--dark) 1px solid;
    padding: 4px;
    border-radius: 4px;
}

.project-card-links{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: var(--main);
}

.project-card-links img{
    height: 30px;
    width: 30px;
    margin: 4px;
    image-rendering: auto;
}

.project-card-links img:hover{
    filter: opacity(.5);
}

/*      ICONOS DE TECNOLOGIAS       */

.icon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 4px;
}

.icon{
    position: relative;
    border: var(--main) dashed 2px;
    background-color: var(--dark2);
}

.icon:hover img{
    transform: translateY(-10%);
    transition: all .5s ease;
}

.icon img{ 
    width: 60px;
    height: 60px;
}

.icon:hover .icon-description{
    visibility: visible;
}

.icon-description{
    visibility: hidden;
    position: absolute;
    padding: 6px;
    width: inherit;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: darkslateblue;
    color: #111;
    font-size: .8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 5px;
}

.contact-icon-container{
    border: var(--main) dashed 2px;
    margin: 10px;
}

.contact-icon{
    width: 40px;
    height: 40px;
    padding: 4px;
}
/*      KEYFRAMES       */

@keyframes title{
    0% {transform: scale(80%);}
    100% {transform: scale(100%);}
}

/*      MEDIA QUERY     */

@media screen and (max-width: 480px) {
    .menu ul{
        flex-direction: column;
        height: 100%;
    }

    .menu-item{
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    /*.menu ul{
        gap: 1rem;
    }
    .menu-item a{
        font-size: 1rem;
        display: none;
    }*/
}

